.navbar {
    background-color: transparent;
    opacity: 0;
}

.loaded .navbar {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.navbar .navbar-nav > li > a {
    color: #f2f2f2;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 600;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #a30000;
    background-color: transparent;
}

.navbar-dark .navbar-nav > li > a {
    color: black;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
    color: #a30000;
}

.navbar-blue .navbar-nav > li > a {
    color: #f2f2f2;
}

.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #4d80b3;
}

#right {
    padding-right: 20px;
}

@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .navbar {
        display: none;
    }
}