.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

.loaded .navbar {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.navbar-left a {
    float: left;
}

.navbar-right a {
    float: right;
}

.navbar-left {
    margin-left: 15px;
}

.navbar-right {
    margin-right: 15px;
}

.navbar > div > a {
    display: block;
    text-align: center;
    padding: 13px 5px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.navbar > div > a:hover,
.navbar > div > a:focus {
    color: #990000;
}

.navbar2 > div > a {
    color: black;
}

.navbar2 > div > a:hover,
.navbar2 > div > a:focus {
    color: #990000;
}

.navbar3 > div > a {
    color: #e6e6e6;
}

.navbar3 > div > a:hover,
.navbar3 > div > a:focus {
    color: black;
}

@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .navbar {
        display: none;
    }
}*/