html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Assistant", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: black;
  background-color: black;
}

/* Fluid-responsive font sizes from https://websemantics.uk/tools/responsive-font-calculator/ */

/* 16px @ 1408px increasing to 22px @ 1920px */
@media (min-width: 1408px) {
  html {
    font-size: calc(1rem + ((1vw - 14.08px) * 1.1719));
    /* Note: The calc base value (1rem) MUST be stated in REM to maintain accessibility */
    /* Where: 1.1719 = 100 * font-size_difference / viewport_width_difference */

    /* Safari resize fix */
    min-height: 0vw;
  }
}
/* Prevent scaling beyond this breakpoint */
@media (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}

/* Navbar */

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

.loaded .navbar {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.navbar-left {
    margin-left: 15px; margin-left: 0.9375rem; 
}

.navbar-right {
    margin-right: 15px; margin-right: 0.9375rem;
}

.navbar-left a {
    float: left;
}

.navbar-right a {
    float: right;
}

.navbar-icon {
    font-size: 18pt; font-size: 1.5rem;
    margin-top: 3px;
}

.navbar > div > a {
    display: block;
    text-align: center;
    padding: 13px 5px; padding: 0.8125rem 0.3125rem;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.navbar > div > a:hover,
.navbar > div > a:focus,
.navbar2 > div > a:hover,
.navbar2 > div > a:focus {
    color: #990000;
}

.navbar2 > div > a {
    color: black;
}

.navbar3 > div > a {
    color: #e6e6e6;
}

.navbar3 > div > a:hover,
.navbar3 > div > a:focus {
    color: black;
}

@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .navbar {
        display: none;
    }
}

/* Home section */

section {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: #f2f2f2;
}

.loaded section {
  opacity: 1;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

a, a:visited, a:active, a:focus {
  font-weight: 700;
  text-decoration: none;
  color: #990000;
}

a:hover {
  text-decoration: underline;
  color: #990000;
}

.overlay-black {
  background: linear-gradient(
    rgba(0, 0, 0, 0.88), 
    rgba(0, 0, 0, 0.88)
  ), no-repeat center fixed url(../images/texture.jpg);
}

.overlay-grey {
  background: linear-gradient(
    rgba(120, 120, 120, 0.93), 
    rgba(120, 120, 120, 0.93)
  ), no-repeat center fixed url(../images/texture.jpg);
}

.overlay {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-container {
  color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 420px; height: 26.25rem;
  margin-right: 75px; margin-right: 4.6875rem;
}

#home-text {
  flex-direction: column;
  height: 270px; height: 16.875rem;
  width: 350px; width: 21.875rem;
  font-size: 13pt; font-size: 1.085rem;
  line-height: 1.6;
}

.space-between {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#speech-bubble {
  color: #f2f2f2;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22pt; font-size: 1.8333rem;
  background: #397cac;
  border-radius: 30px; border-radius: 1.875rem;
  width: 315px; width: 19.6875rem;
  padding: 5px; padding: 0.5rem;
  margin-left: -50px; margin-left: -3.125rem;
  text-align: center;
  position: relative;
}

/* Use Arial for Firefox only */
@-moz-document url-prefix() {
  #speech-bubble {
    font-family: Arial, sans-serif;
  }
} 

#speech-bubble:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -18px; left: -1.125rem;
  height: 30px; height: 1.875rem;
  width: 30px; width: 1.875rem;
  background: #397cac;
  border-bottom-right-radius: 15px; border-bottom-right-radius: 0.9375rem;
}

#speech-bubble:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -20px; left: -1.25rem;
  width: 20px; width: 1.25rem;
  height: 31px; height: 1.9375rem;
  background: #020202;
  border-bottom-right-radius: 20px; border-bottom-right-radius: 1.25rem;
}

.icon, .icon:visited, .icon:active, .icon:focus {
  text-decoration: none;
  color: #b3b3b3;
}

.icon:hover {
  text-decoration: none;
  color: white;
}

.home-icon, .home-icon:visited, .home-icon:active, .home-icon:focus {
  font-size: 18pt; font-size: 1.5rem;
  margin-right: 12px; margin-right: 0.75rem;
}

#arrow-wrapper {
  position: absolute;
  bottom: 10px; bottom: 0.625rem;
  right: 35px; right: 2.1875rem;
  color: #e6e6e6;
  font-size: 45px; font-size: 2.8125rem;
  -webkit-animation: bounce 1s linear infinite;
  animation: bounce 1s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    padding-bottom: 0;
  }

  50% {
    padding-bottom: 15px; padding-bottom: 0.9375rem;
  }

  100% {
    padding-bottom: 0;
  }
}

@keyframes bounce {
  0% {
    padding-bottom: 0;
  }

  50% {
    padding-bottom: 15px; padding-bottom: 0.9375rem;
  }

  100% {
    padding-bottom: 0;
  }
}

/* About section */

.section-container {
  width: 800px; width: 50rem;
  margin: 60px; margin: 3.75rem;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 22px; margin-bottom: 1.375rem;
  font-size: 17pt; font-size: 1.42rem;
}

.header {
  overflow: hidden;
}

.header > span {
  position: relative;
  display: inline-block;
}

.header > span:after, .header > span:before {
  content: '';
  position: absolute;
  top: 49%;
  border-bottom: 1px solid black;
  width: 2000%;
  margin: 0 10px; margin: 0 0.625rem;
}

.header > span:after {
  left: 100%;
}

.header > span:before {
  right: 100%;
}

#portrait-container, #portrait1, #portrait2 {
  width: 200px; width: 12.5rem;
  height: 200px; height: 12.5rem;
}

#portrait-container {
  float: right;
  margin: 0 10px 30px 40px; margin: 0 0.625rem 1.875rem 2.5rem;
  perspective: 1000px; perspective: 62.5rem;
}

#portrait-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Apply transformation only when hover is available */
@media (hover: hover) {
  #portrait-hover {
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 100;
    width: 200px; width: 12.5rem;
    height: 200px; height: 12.5rem;
  }
  #portrait-hover:hover + #portrait-inner {
    transform: rotateY(180deg);
  }
}

#portrait-front, #portrait-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#portrait-back {
  transform: rotateY(180deg);
}

/* Education section */

#education-container {
  background-color: rgba(230, 230, 230, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 10px 40px 30px 40px; padding: 0.625rem 2.5rem 2.5rem 2.5rem;
  width: 700px; width: 43.75rem;
}

.center-header {
  text-align: center;
}

.bold-header {
  font-size: 13pt; font-size: 1.085rem;
  font-weight: 700;
}

.align-right {
  text-align: right;
}

ul {
  list-style-type: square;
  margin-top: 0;
}

.skill-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px; margin-top: -0.3125rem;
}

a.skill-box, a.skill-box:visited, a.skill-box:active, a.skill-box:focus {
  font-size: 11pt; font-size: 0.92rem;
  color: white;
  background-color: #8f0000;
  padding: 1px 5px; padding: 0.0625rem 0.3125rem;
  margin: 5px 7px 0 0; margin: 0.3125rem 0.4375rem 0 0;
  font-weight: normal;
}

a.skill-box:hover {
  background-color: #660000;
  text-decoration: none;
  font-weight: normal;
}

/* Experience section */

.experience-box {
  margin-bottom: 20px; margin-bottom: 1.25rem;
  padding-left: 20px; padding-left: 1.25rem;
  border-left: 5pt solid; border-left: 0.42rem solid;
}

.at-symbol {
  color: #808080;
}

.flex-space {
  display: flex;
  flex: 1 0 10%;
  flex-flow: row nowrap;
}

.location-marker {
  margin-bottom: 8px; margin-bottom: 0.5rem;
  font-style: italic;
}

.location-marker i {
  margin-right: 8px; margin-right: 0.5rem;
}

/* Footer */

.footer {
  padding: 15px 20px 15px 20px; padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  color: #cccccc;
  border-bottom: 3pt solid #3d6d8f;
  opacity: 0;
}

.loaded .footer {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer-icon {
  margin-right: 6px; margin-right: 0.375rem;
}

a.footer-link, a.footer-link:visited, a.footer-link:active, a.footer-link:focus {
  color: #cccccc;
  font-weight: 400;
  text-decoration: underline;
}

a.footer-link:hover {
  color: white;
}

/* Large mobile device (landscape) */
@media (max-width: 850px) and (orientation: landscape) {
  #arrow-wrapper {
    display: none;
  }
}

/* Medium-large mobile device (landscape) */
@media screen and (max-width: 820px) {
  body {
    line-height: 1.45;
  }

  .overlay1, .overlay2 {
    background-attachment: scroll;
  }

  #home-text {
    height: 240px;
  }

  #sketch {
    height: 300px;
  }

  .section-container {
    margin: 40px 45px;
  }

  #education-container {
    margin: 55px 45px;
    padding: 5px 25px 25px 25px;
  }

  .bold-header {
    font-size: 12pt;
  }
}

/* Small mobile device (landscape) */
@media screen and (max-width: 660px) {
  #home-text {
    height: 220px;
    width: 270px;
    font-size: 12pt;
  }

  #sketch {
    height: 280px;
    margin-right: 40px;
  }

  #speech-bubble {
    background: transparent;
    width: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 20pt;
    text-align: left;
  }

  #speech-bubble:before, #speech-bubble:after {
    display: none;
  }
}

/* Large mobile device (portrait) */
@media only screen and (max-width: 700px) and (orientation: portrait) {
  h1 {
    font-size: 15pt;
  }

  .overlay1, .overlay2 {
    background-attachment: scroll;
  }

  #home-container {
    flex-direction: column;
    width: 270px;
  }

  #sketch {
    height: 250px;
    margin: 0;
  }

  #home-text {
    width: 100%;
    height: 220px;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.4;
  }

  #speech-bubble {
    background: transparent;
    width: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 20pt;
    text-align: left;
  }

  #speech-bubble:before, #speech-bubble:after {
    display: none;
  }

  #arrow-wrapper {
    display: none;
  }

  #portrait-container, #portrait1, #portrait2 {
    height: 120px;
    width: 120px;
  }

  #portrait-container {
    margin-left: 20px;
  }

  .section-container {
    margin: 20px 25px;
  }

  #education-container {
    margin: 40px 25px;
    padding: 0 18px 20px 18px;
  }

  .experience-box {
    padding-left: 12px;
  }
}

/* Small mobile device (portrait) */
@media only screen and (max-width: 350px) and (orientation: portrait) {
  #sketch {
    height: 180px;
  }

  #home-text {
    font-size: 11pt;
    height: 200px;
    width: 250px;
    margin-top: 15px;
  }

  #speech-bubble {
    font-size: 18pt;
  }

  .section-container {
    margin: 20px;
  }

  #education-container {
    margin: 40px 20px;
    padding: 0 15px 15px 15px;
  }
} 